<div class="container-fluid">
  <!-- <ul>
    <li *ngFor="let data of dataTickets">
      <div class="row">
        <div class="col-md-6">
          <img [src]="data.user.avatar_url" />
          <p>{{ data.title }}</p>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-4">
              <select>
                <option>Medium</option>
              </select>
            </div>
            <div class="col-md-4">
              <select>
                <option>Open</option>
              </select>
            </div>
            <div class="col-md-4">
              <select>
                <option>Finance</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul> -->
  <table>
    <tr *ngFor="let data of showData">
      <td>
        
        <p> <span><img [src]="data.user.avatar_url" /></span>{{ data.title }}</p>
      </td>
      <td>
        <select>
          <option>Medium</option>
        </select>
      </td>
      <td>
        <select>
          <option>Open</option>
        </select>
      </td>
      <td>
        <select>
          <option>Finance</option>
        </select>
      </td>
    </tr>
  </table>

  <button>Previous</button>
  <button>Next</button>
</div>
